* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

#main-screen {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: lightgray;
	z-index: 1;
}

.button-wrapper {
}

.start-btn,
.play-again-btn,
.quit-btn {
	padding: 0.5rem 1rem;
	background-color: cornflowerblue;
	color: black;
	border-radius: 3px;
}

.display-none {
	display: none;
}

.game-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ui-left,
.ui-right {
	width: 10rem;
	height: 40rem;
	background-color: darkgray;
}

@keyframes timer {
	from {
		height: 0;
	}
	to {
		height: 6rem;
	}
}

.start-time {
	animation-name: timer;
	animation-duration: 60s;
	animation-timing-function: linear;
}

.time-bar-wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 1.25rem;
	height: 6.25rem;
	border: 2px solid black;
}

#time-bar {
	width: 1rem;
	height: 0rem;
	background-color: rgb(0, 255, 0);
}

#game-container {
	position: relative;
	width: 40rem;
	height: 40rem;
	background-color: black;
}

#man {
	width: 1rem;
	height: 1rem;
	background-color: rgb(0, 255, 0);
}

#food {
	width: 1rem;
	height: 1rem;
	background-color: red;
}

#obstacle1,
#obstacle2,
#obstacle3 {
	display: none;
	width: 4rem;
	height: 4rem;
	background-color: orange;
}

#end-screen {
	position: absolute;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: lightgray;
	z-index: 1;
}
